version: "3.2"

services:
  # Update port for API_URL
  tinydns:
    environment:
      API_URL: http://api:80
  api:
    restart: always
    networks:
      - vegadns_net
    image: vegadns/apiui
    ports:
      - target: "80"
        protocol: "tcp"
    environment:
      DB_HOST: mysql
      DB_USER: vegadns
      SECRET_DB_PASS: secret
      TRUSTED_IPS: 0.0.0.0/0
      API_PORT: 80
      ENABLE_CONSUL_NOTIFICATIONS: "true"
      CONSUL_HOST: ${CONSUL_HOST}
      CONSUL_PORT: ${CONSUL_PORT}
      CONSUL_KEY: ${CONSUL_KEY}
      CONSUL_LOCK_KEY: ${CONSUL_LOCK_KEY}
      API_URL: ${API_URL}
      OIDC_ENABLED: ${OIDC_ENABLED}
      OIDC_ISSUER: ${OIDC_ISSUER}
      OIDC_CLIENT: ${OIDC_CLIENT}
      OIDC_REDIRECT_URI: ${OIDC_REDIRECT_URI}
      OIDC_UI_ENDPOINT: ${OIDC_UI_ENDPOINT}
      OIDC_SECRET: ${OIDC_SECRET}
      OIDC_SCOPE: ${OIDC_SCOPE}
      OIDC_EMAIL_KEY: ${OIDC_EMAIL_KEY}
      OIDC_GROUPS_KEY: ${OIDC_GROUPS_KEY}
      OIDC_REQUIRED_GROUP: ${OIDC_REQUIRED_GROUP}
      OIDC_FIRSTNAME_KEY: ${OIDC_FIRSTNAME_KEY}
      OIDC_LASTNAME_KEY: ${OIDC_LASTNAME_KEY}
      OIDC_PHONE_KEY: ${OIDC_PHONE_KEY}
    depends_on:
      - mysql
      - consul
