[mysql]
user = {{db_user}}
password = {{db_pass}}
database = {{db_db}}
host = {{db_host}}

[monitoring]
vegadns_generation_txt_record = {{vegadns_generation}}

[ip_auth]
trusted_ips = {{trusted_ips}}

[ui_server]
ui_url = {{ui_url}}
